/**** Css para a pagina ****/
.header{
    background-color: #ccffcc ;
}

h1.logo{
    font-size: 30px;
    color: #339933;
    letter-spacing: -2px;
}

.conteudoEx{
    background: #f1f9ea;
}

.footer{
    background: #118811;
    color: #ebebeb;
}